* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: "Roboto";
}
/* Profile */

.menu-bar {
    background: black;
    height: 25px;
    width: 100%;
    margin: 0;
    padding: 25px;
    margin-bottom: 10rem;
    position: fixed;
}

.menu-bar a{ 
    color: #fff;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    transition: .5s;
}
.menu-bar a:hover {
    background: #fff;
    color:#000;
    border-radius: 5px;
    transition: .3s ease;
}
.profile {
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: url(/Tugas1/img/walpapper\ putih.jpg);
    background-size: cover;
}
.profile img {
    height: 180px;
    width: auto;
    border-radius: 50px;
    margin-top: 15em;
    animation: spin 20s linear infinite;
}

.profile .bio {
    padding: 15px;
}
.profile .bio p {
    font-size: 15px;
}

.icon {
    padding: 5px;
    text-align: center;
}

.icon i{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background: black;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
}

.icon i:hover {
    color: rgb(0, 211, 211);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgb(211, 211, 211);
    transition: .3s ease-in-out;
}
/* Profile end */

/* info-menu */

.info-menu {
    display: grid;
    place-items: center;
    height: auto;
    box-sizing: border-box;
    background:url(/Tugas1/img/pexels-adrien-olichon-1257089-2387793.jpg);
    background-size: cover;
}

.info-menu .cls {
    padding: 20px 30px;
    margin:2rem;
    background: url(/Tugas1/img/background\ 200px\ x\ 800px.png);
    background-size: cover;
    box-shadow: 4px 4px 3px rgb(0, 0, 0);
    height: 200px;
    width: 800px;
    border-radius: 5px;
}

.info-menu .cls h1 {
    font-size: 25px;
    padding: 15px;
    color: #fff;
    font-family: "Bebas Neue";
}
.info-menu .cls h1 i{
    font-size: 25px;
    color: red;
}

.info-menu .cls p {
    padding: 1rem;
    color: #fff;
}

.info-menu .cls p a {
    color: red;
} 

.info-menu .cls p b{
    color: red;
    font-style: italic;
}